<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @status.user_id %>
</p>

<p>
  <b>Message:</b>
  <%= @status.message %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
