
<div class="row">
<div class="span16">


<% if @user  %>

<% if @user.photo %>	
	<img src="<%= @user.photo %>" style="width:100px; height: 100px;"/>
<% else %>
	<%= gravatar_image_tag @user.email, :class => "gravatar", :width => "100" rescue ""%> 
<% end %>

<br /><br />
<h1>
<%= @user.username.capitalize %>'<%= "s" if @user.username[-1,1] != "s"%> Profile 
</h1><br />
<p>Website: <%= link_to @user.website, @user.website%>  </p>

<% 
if @user.about_me.blank?
  @txt = " "
else
  @txt = @user.about_me #[0..160]
end
%>

<div class="alert alert-info"><%=@txt%></div>


<h1>Following</h1><br />
<% if @following.length == 0 %>
  <br />
  <h3><center>You are not following any <a href="/apis">APIs</a></center></h3>
<% end %>
<% @following.each do |follow| %>

  <% @api = Api.find(follow.follow_id) rescue nil%>

	<% if @api %>

	  <div class="span3 well">
    
	    <table><tr><td colspan="2">
	      <h4><a href="/<%=@api.name%>"><%= @api.name %></a>
	      (<%= @api.category %>)</h4><hr />
	    </td></tr>
	    <tr>
	    <td width="80" height="100" valign="top"><a href="/<%=@api.name%>"><img src="<%= @api.imageurl %>" style="width:60px; height: auto; margin:5px;" align="left"></a></td>
	          <td valign="top">
	        <%= @api.description[0..140] %>
	      </td>
	    </tr></table>
    
	  </div>

	<% end %>

<% end %>

<%= javascript_tag do -%>
$(document).ready(
  function(){
    setInterval(function(){
      $.ajax({
        url: "/users/pollallfeed",
        type: "GET",
        dataType: "script"
    });
  }, 10000 );
});
<% end -%>


<% if !@activities.nil?%>
<br /><br />
<h1>Activity:</h1>


<h1><%= @user.username.capitalize %>'<%= "s" if @user.username[-1,1] != "s"%> Activity</h1>

<div id="statuses">

  <%= render 'feed' %>

  <br />
  <p><center><div class="pager"><%= will_paginate @activities, :page_links => false %></div></center></p>
  
  
</div>
<% end %>


<% else %>
<!-- 404 -->
<div class="hero-unit">
  <h1>User not found...</h1>
</div>

<% end %>

</div>
</div>

<br /><br/><br/>
