<%= form_for :explorer, :url=>{:controller=>"explorers", :action=>"create" }, :remote => true do |f| %>
<p>
    <%= f.hidden_field :user_id, :value => session["user_id"] %>
    <%= f.text_field :apiurl, :placeholder=>"API URL", :class => "input-xxlarge focus" %><br />
    <%= f.select :apimethod, options_for_select(["GET", "POST", "PUT", "DELETE"]), :class => 'input-small span1' %>
	<%= check_box_tag :follow_redirects, 1, params[:follow_redirects] %> follow redirects?<br />
	
	<div id="post-params" style="display: none;">
		<p>
			<button id="add_param" class="btn btn-success"> <i class="icon-plus icon-white"></i> Add Param </button>
			<button id="add_payload" class="btn btn-success"> <i class="icon-plus icon-white"></i> Add Payload </button>
		</p>
		
		<div id="param-fields"></div>

      <p id="post-body" style="display:none;">
	    <%= f.text_area "post-body", :class=>"input-xxlarge", :placeholder=>"API Payload", :rows=>"5" %>
      </p>
    </div>
    
	<p>
	<%= f.radio_button :authentication, "None", :checked => true %> No Auth 
	<%= f.radio_button :authentication, "Basic" %> Basic Auth<br />
	</p>
	<div id="basicauthparams" style="display:none">
    <%= f.text_field :apiusername, :placeholder=>"username", :class => "input-large" %>
	<%= f.password_field :apipassword, :placeholder=>"password", :class => "input-large" %><br />
    </div>

	<p><button id="add_header" class="btn btn-success"> <i class="icon-plus icon-white"></i> Add Header </button></p>

	<div id="header-fields"></div>

    <br /><%= f.submit "Send", :class=>"btn btn-primary btn-large", :id=>"sendbutton" %>
</p>
<% end %>

<div id="explorerspinner" style="display:none"><%=image_tag("ajax-spinner.gif")%></div>    

<script>
$(function() {
 $("#sendbutton").click(function() {
  $("#explorerspinner").show();
 });

 $("#add_payload").click(function() {
  $("#post-body").toggle();
  $("#output").hide();
 });

 $("#explorer_apimethod").change(function(){
	if ($("#explorer_apimethod").val() == 'POST' || $("#explorer_apimethod").val() == 'PUT'){
	  	$("#post-params").show();		
	} else {
		$("#post-params").hide();
	};
 });

 $("#explorer_authentication_none").click(function() {
  $("#basicauthparams").hide();
 });

 $("#explorer_authentication_basic").click(function() {
  $("#basicauthparams").show();
 });

 $("#add_param").click(function(){
   var randomnumber=Math.floor(Math.random()*1000001)
   var new_field = '<div id="' + randomnumber + '"><input type="text" name="param-keys[]" class="input-large" placeholder="Param Key" />';
   new_field+='<input type="text" name="param-vals[]" class="input-large" placeholder="Param Value" />';
   new_field+=' <a href="#" onclick="removeDiv('+randomnumber+');">X</a><br /></div>';
   $("#param-fields").append(new_field);
 });

 $("#add_header").click(function(){
   var randomnumber=Math.floor(Math.random()*1000001)
   var new_field = '<div id="' + randomnumber + '"><input type="text" name="header-keys[]" class="input-large" placeholder="Header Key" />';
   new_field+='<input type="text" name="header-vals[]" class="input-large" placeholder="Header Value" />';
   new_field+=' <a href="#" onclick="removeDiv('+randomnumber+');">X</a><br /></div>';
   $("#header-fields").append(new_field);
 });
});

function removeDiv(divId) {
   $("#"+divId).remove();
}

</script>
<div id="output" style="display:none">
	<hr />
	<div class="row">
		<div class="span5">
			<h2>Request</h2>
			<div id="apirequest"></div>
		</div>
		<div class="span5">
			<h2>Response</h2>
			<div id="apiresponse"></div>
		</div>
	</div>
</div>

