<br /><br /><br />
<div class="hero-unit">
<h1>API Explorer</h1><br />

<%= form_for :explorer, :url=>{:controller=>"explorers", :action=>"create" }, :remote => true do |f| %>
<p>
    <%= f.hidden_field :user_id, :value => session["user_id"] %>
    <%= f.text_field :apiurl, :placeholder=>"API URL", :class => "input-xxlarge focus" %><br />
    <%= f.select :apimethod, options_for_select(["GET", "POST", "PUT", "DELETE"]), :class => 'input-small' %>
	<%= check_box_tag :follow_redirects, 1, params[:follow_redirects] %> follow redirects?<br />
    <%# f.select :authentication, options_for_select([["Select Authentication", ""], "None", "Basic"]), :class => 'input' %>
	<%= f.radio_button :authentication, "None", :checked => true %> No Auth
	<%= f.radio_button :authentication, "Basic" %> Basic Auth<br />
	<div id="basicauthparams" style="display:none">
    <%= f.text_field :apiusername, :placeholder=>"username", :class => "input-large" %>
	<%= f.password_field :apipassword, :class => "input-large" %><br />
    </div>
    <br /><%= f.submit "Send", :class=>"btn btn-success btn-large", :id=>"sendbutton" %>
</p>
<% end %>

<div id="spinner" style="display:none"><%=image_tag("ajax-spinner.gif")%></div>    

<script>
$(function() {
 $("#sendbutton").click(function() {
  $("#spinner").show();
 });
 $("#explorer_authentication_none").click(function() {
  $("#basicauthparams").hide();
 });
 $("#explorer_authentication_basic").click(function() {
  $("#basicauthparams").show();
 });

});
</script>
<div id="output" style="display:none">
	<hr />
	<div class="row">
		<div class="span5">
			<h2>Request</h2>
			<div id="apirequest"></div>
		</div>
		<div class="span5">
			<h2>Response</h2>
			<div id="apiresponse"></div>
		</div>
	</div>
</div>

</div>
