<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @explorer.user_id %>
</p>

<p>
  <b>Apirequest:</b>
  <%= @explorer.apirequest %>
</p>

<p>
  <b>Apiresponse:</b>
  <%= @explorer.apiresponse %>
</p>


<%= link_to 'Edit', edit_explorer_path(@explorer) %> |
<%= link_to 'Back', explorers_path %>
