<% @apis.each do |api| %>

	<% if api.privateaccess != true or (api.privateaccess == true and api.provider == "bechtel" and session['provider'] == "bechtel") or (api.privateaccess == true and api.provider == "personal" and session[:user_id] == api.user_id) %>

	  <div class="span3 well">
    
	    <table>
	      <tr><td height="100" colspan="2">
	        <h4><a href="/<%=api.name%>"><%= api.name %></a>
	        (<%= api.category %>)</h4><hr />
	      </td></tr>
	      <tr>
	      <td width="80" height="160" valign="top"><a href="/<%=api.name%>"><img src="<%= api.imageurl %>" style="width:60px; height:auto; margin:5px;" align="left"></a></td>
	      <td valign="top">        
	        <%= api.description[0..140] %>
	      </td>
	    </tr></table>
    
	  </div>

	<% end %>

<% end %>
