<%= form_for(@api) do |f| %>
  <% if @api.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api.errors.count, "error") %> prohibited this api from being saved:</h2>

      <ul>
      <% @api.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, :value=>session["user_id"] %>
  <div class="input">
    <%= f.text_field :name, :class=>"input-xxlarge focus", :placeholder=>"API Name" %>
  </div>
  <div class="field">
    <%= f.text_field :apiurl, :class=>"input-xxlarge", :placeholder=>"API Base URL" %>
  </div>
  <div class="field">
    <%= f.text_field :apidocurl, :class=>"input-xxlarge", :placeholder=>"API Documentation URL" %>
  </div>
  <div class="field">
    <%= f.text_field :imageurl, :class=>"input-xxlarge", :placeholder=>"API Image URL" %>
  </div>
  <div class="field">
    <%= f.text_area :description, :class=>"input-xxlarge", :placeholder=>"API Description" %>
  </div>
  <div class="field">
    <%= f.select :category, options_for_select([[@api.category], "Advertising", "Business", "Developer", "Enterprise", "Entertainment", "Gaming", "Health", "Location", "Mapping", "Music", "News", "PaaS", "Payments", "Photos", "Search", "Shopping", "Social", "Telephony", "Tool", "Travel", "Video", "Weather", "Other"]), :class => 'input' %>
  </div>
  <div class="field">
    <%= f.check_box :privateaccess, :class=>"input" %> Private API?

	  <span class="field" id="providerdiv" style="display:none;">
	    belonging to: <%= f.select :provider, options_for_select([[@api.provider], "personal", "bechtel"]), :class => 'input' %>
	  </span>
  </div>
<br />
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>

<script>

$("#api_privateaccess").click(function(){

	// If checked
	if ($("#api_privateaccess").is(":checked"))
	{
		//show the hidden div
		$("#providerdiv").show("fast");
	}
	else
	{
		//otherwise, hide it
		$("#providerdiv").hide("fast");
	}
});
	
</script> 