<h1>API Directory</h1>

<% if controller.action_name == "search" %>
<h2>Search results for <i><%=params[:id]%></i></h2>
<% end %>  

<br /><br />
<div class="row">
<div class="span16">
<% @apis.each do |api| %>

  <div class="span3 well">
    
    <table>
      <tr><td colspan="2">
        <h4><a href="/<%=api.name%>"><%= api.name %></a>
        (<%= api.category %>)</h4><hr />
      </td></tr>
      <tr>
      <td width="80" height="100" valign="top"><a href="/<%=api.name%>"><img src="<%= api.imageurl %>" style="width:60px; height: 60px; margin:5px;" align="left"></a></td>
      <td valign="top">        
        <%= api.description[0..140] %>
      </td>
    </tr></table>
    
  </div>

<% end %>

</div>
</div>


<br />
<p><center><div class="pager"><%= will_paginate @apis, :page_links => false %></div></center></p>
<br />

<% if session["user_id"]%>
<%= link_to raw('<button class="btn btn-success"> <i class="icon-plus icon-white"></i> Add API </button>'), new_api_path %>
<% end %>

<br /><br /><br />
