<h1>Mashup Directory</h1>

<% if controller.action_name == "search" %>
	<h2>Search results for <i><%=params[:id]%></i></h2>
<% end %>  

<br /><br />
<div class="row-fluid">
	<div class="span16">

		<div id="statuses">
			<%= render 'mashups'%>
		</div>
		
	</div>
</div>


<!-- <br /><p><center><div class="pager"><%= will_paginate @mashups, :page_links => false %></div></center></p><br /> -->
<!-- <div id="pager" class="pager"><div class="pagination">
	<a class="next_page" rel="next" href="#" onclick="$('.pagination').html('<img src=<%= '"/assets/ajax-spinner.gif"'%>>');$.getScript('/mashups?page=<%=@page.to_s%>'); return false;">more</a>
</div></div> -->

<% if session["user_id"]%>
	<%= link_to raw('<button class="btn btn-primary"> <i class="icon-plus icon-white"></i> Add Mashup </button>'), new_mashup_path %>
<% end %>

<br /><br /><br />

<div id="scrollpage" style="display:none;">2</div>
<div id="scrollactive" style="display:none;">false</div>

<script>
	var killScroll = $('#scrollactive').html();
	$(window).scroll(function(){
	        if  ($(window).scrollTop()+200 >= ($(document).height() - ($(window).height()))){
		
				if (killScroll == 'false') { // IMPORTANT - Keeps the loader from fetching more than once.
					killScroll = $('#scrollactive').html("true");
					$.getScript('/mashups?page=' + $('#scrollpage').html()); return false;
				}
				
	        }
	});
</script>
