<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>APIS.io :: The open-source API directory</title>
      <meta name="description" content="Publish, discover, and experiment with APIs" />
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!-- Le styles -->

      <style type="text/css">
         body {
         padding-top: 60px;
/*		 background-image:url('/assets/connect.png');*/
         }


      </style>
      <!-- Le fav and touch icons -->
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
      <!-- <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js" type="text/javascript"></script> -->

	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- <link href="/stylesheets/bootstrap.responsive.css" rel="stylesheet" type="text/css" /> -->
    <link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet" type="text/css" />

   <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
   <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />


    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap-popover.js"></script>


      <style type="text/css">
         p.c2 {text-align: right}
         div.c1 {display: none}
      </style>

	<%= yield :head %>
	<%= yield :stylers %>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2483685-25']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
		
   </head>
   <body data-spy="scroll" data-target=".subnav" data-offset="50">
		<script type="text/javascript">
			function lookupapi(){
				window.location.replace("/search/" + $('#apisearch').val());
				return false;
			}
		</script>
		
		<!-- Navbar
	    ================================================== -->
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <!a class="brand" href="/"><div class="brand"></div><!/a>
	          <div class="nav-collapse">
				<ul class="pull-right nav">
						<li>
							<form onsubmit="return lookupapi();" class="navbar-search pull-left">
							<input class="input-large search-query" type="text" placeholder="search" id="apisearch" name="apisearch" />
							</form>
						</li>
	               </ul>
		           <ul class="nav">

					<% if session["user_id"] %>
					<li>
						<div class="thumbnail">
							<img src="<%= session["photo"] %>" style="width:25px; height: 25px;"/>	
						</div>
					</li>
					<li>	
						<%= link_to session["username"].upcase, "/users/" + session["username"], :title => "Profile" %> 		
					</li>
					<% end %>

					<% if session["user_id"] %>
						<li><%= link_to 'Home', '/statuses', :title => "Home", :class=>"active" %></li> 
					<% else %>
						<li><%= link_to 'Home', '/', :title => "Home", :class=>"active" %></li> 
					<% end %>
					<li><%= link_to 'API Directory', '/apis', :title => "API Directory" %></li> 
					<li><%= link_to 'Mashups', '/mashups', :title => "API Directory" %></li> 

					<% if session["user_id"] %>
						<li><%# link_to 'QSOs', '/' + session["username"] + '/contacts', :title => "Social Logbook" %></li> 
						<li><%= link_to 'Logout', '/logout', :title => "Logout" %> </li>
					<% else %>
						<li><%= link_to 'Register/Login', '/auth/github', :title => "Login" %></li>
					<% end %>
					<% if session[:admin] %>
						<li class="divider-vertical"></li>
						<li><%= link_to 'Proxy', '/login', :title => 'Admin' %></li>
					<% end %>

	               </ul>
	    
	          </div>
	        </div>
	      </div>
	    </div>
	  
		
    <div class="container">	
		<p id="notice"><%= alert %></p>
		<%# image_tag "apis_logo.png"%>
		<p>
		<%= image_tag "apisio_blocks2.png"%>
		<%# image_tag "apisio_blocks_embossed2.png"%>
		</p>
		<br />
		<%= yield :alert %>				
		<%= yield %>
	</div>

      <footer class="footer">
         <div class="container">
            <p>
				<center>
				<% time = Time.new %>
				&copy; <%=time.year%> - APIS.io - <%=link_to "About Us", "/about"%> | <%=link_to "API", "/api"%> | <%=link_to "Twitter", "http://twitter.com/apisio"%> 
				</center>
            </p>
         </div>
      </footer>

	<script>
	$(document).ready(function() {
	    $('a[rel]').tooltip();
	});
	</script>
		
   </body>
</html>

