<%= form_for(@parameter) do |f| %>
  <% if @parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% @parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :api_id, :value => @parameter.api_id %>
<%= f.hidden_field :resource_id, :value => @parameter.resource_id %>

  <div class="field">
    <%= f.label "Request Type" %>
	<%= f.select :paramstyle, options_for_select([[@parameter.paramstyle], "header", "parameter", "payload"]), :class => 'input' %><br />			    
  </div>
  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :paramname %>
  </div>
  <div class="field">
    <%= f.label "Value" %>
    <%= f.text_field :paramdefault %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows=>"5", :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :payload %>
    <%= f.text_area :payload, :rows=>"5", :class=>"input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label "Required" %>
    <%= f.check_box :paramrequired %>
  </div><br />
  <div class="actions">
    <%= f.submit :class=>"btn btn-success" %> <%= link_to 'cancel', "/" + @parameter.resource.api.name %>
  </div>
<% end %>
